body{
	margin:0px;
	width:100%;
	height: 800px;
}
#promo_banner{
	background-color:#E8C84E;
	height:50px;
	font-size:130%;
	text-align:center;
}
#left_banner{
	background-color:#FFB544;
	height:800px;
	width:60%;
	font-size:130%;
	float:left;
	
}
#mid_banner{
	float:left;
	height:800px;
	width:20%;
	text-align:center;
}
#right_banner{
	background-color:#FFB544;
	height:800px;
	width:20%;
	font-size:130%;
	text-align:center;
	float:left;
}
#footer_banner{
	clear:both;
	background-color:#E8C84E;
	height:50px;
	text-align:right;
	padding:10px;
}
.list_banner{
	padding-top:30px;
	background-color:#FFAA00;
}
img,h3{
	padding-top:50px;
}
form{
	padding-bottom:100px;
}
