 *{
      margin: 0px;
      padding: 0px;
    }
    section{
      overflow: hidden;
    }
#container
{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
#logo
{
	
	background-color: 1a3300;
	color: gold ;
	padding: 10px ;
	text-align: center;
	
}
.nav
{
	color: #408000;
	background-color: #204000;
	padding: 20px;
	width: 170px;
	text-align: center;
	height: 630px;
	float: left;
	
}
#content
{
	background-color: #ffcc99;
	width: 1080px;
	padding: 5px;
	float: left;
	min-height: 660px;
	display: flex;
    align-items: center;
    justify-content: center;
	text-align:center;
	font-size:25px;
	color:408000;
	
}

#footer
{
	width:1280px;
	background-color:1a3300;
	padding:10px;
	color:pink;
	clear: both;
	text-align:right;
}
.tile
{
	width:150px;
	background-color: ffcc99;
	margin:auto;
	margin-bottom:20px;
	min-height:50px;
	display: flex;
    align-items: center;
    justify-content: center
}

.tilelink
{
	color: 408000;
	text-decoration:none ;
	display:block;
	width:150px;
	min-height:50px;
	margin:auto;
}

















